.titulo-cursos h1{
    font-size: 60px;
    font-weight: 700;
    color: #ff4081;
    margin-left: 80px;
}

.titulo-cursos h2{
    font-size: 20px;
    font-weight: 400;
    color: #555;
    margin-left: 80px;
}
.curso-investimento, .curso-poupando, .curso-independencia{
    display: flex;
    width: 1100px;

    
}

.curso-investimento img{
   width: 380px;
   height: 381px;
   margin: 90px 20px 90px 120px;
}
.curso-poupando img{
    width: 380px;
    height: 381px;
    margin: 90px 20px 90px 120px;
 }
 .curso-independencia img{
    width: 380px;
   
    margin: 90px 20px 90px 120px;
 }


.separador-cursos{
    display: block;
    background: #c4c4c4;
    width: 90vw;
    height: 4px;
    margin: 0 auto;
}
.lista-cursos h1{
 font-size: 35px;
 font-weight: 700;
 color: #ff4081;
}

.lista-cursos h2{
    font-size: 18px;
    font-weight: 400;
    color: #000;

}

.lista-cursos a {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    background-color: #419488;
    border-radius: 62px;
    padding: 8px 26px;
    width: 30%;
    text-align: center;
}

.curso-conteudo{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 100px;
}