.wrapper{
    max-width: 1440px;
    min-width: 720px;
    margin: 0 auto;
}

.banner-home{
    width: 1028px;
    height: 521px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}
.conteudo-banner-home{
    display: flex;
    flex-direction: column;
    
}


.conteudo-banner-home h1{
    font-size: 60px;
    font-weight: 700;
    color: #FF4081;
    margin: 10px 0;
}

.conteudo-banner-home h2{
    font-size: 27px;
    font-weight: 400;
    color: #555555;
    margin: 10px 0;
}

.conteudo-banner-home a{
    font-size: 27px;
    font-weight: 400;
    color: #FF4081;
    border: #FF4081 2px solid;
    border-radius: 62px;
    text-align: center;
    padding: 8px 26px;
    margin: 26px 0;
    width: 52%;
    
}

.cursos-home{    
    Width: 100%;
    Height: 100%;
    margin-top: 170px;
    background-color: #e5e5e5;   
    

} 

.cards-cursos-home{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
   
}

.item-cards-cursos-home{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 344px;
    height: 504px;
    margin: 100px 0 100px 0;
    
}

.item-cards-cursos-home .ilustra-poupando {
    width: 288px;
    height: 270px;
    margin: 0 auto;
}

.item-cards-cursos-home .ilustra-investimento{
    width: 238px;
    height: 270px;
    margin: 0 auto;
}

.item-cards-cursos-home .ilustra-independencia{
    width: 187px;
    height: 270px;
    margin: 0 auto;
}

.item-cards-cursos-home h2{
    font-size: 25px;
    font-weight: 700;
    color: #FF4081;

}

.item-cards-cursos-home h3{
    font-size: 17px;
    font-weight: 300;
    color: #000;

}

.item-cards-cursos-home a{
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    border: #FF4081 2px solid;
    background-color: #FF4081;
    border-radius: 62px;
    padding: 8px 26px;
    width: 50%;
    text-align: center;
}

.depoimentos-home h1{
    margin-top: 110px;
    margin-left: 120px;
    font-family: 'Nunito', sans-serif;
    font-size: 37px;
    font-weight: 700;
    color: #009688

}

.lista-depoimentos-home{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.item-lista-depoimentos-home{
    display: flex;
    width: 495px;
    height: 104px;
    margin: 45px;
}

.item-lista-depoimentos-home h2{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin-left: 28px;

}
.item-lista-depoimentos-home h2 strong{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}

.blog-home{
    background-color: #e5e5e5;    
    padding: 1px;
}
.blog-home h1{
    font-size: 37px;
    font-weight: 700;
    color: #009688;
    margin: 90px 0 70px 120px;

}

.cards-blog-home{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;


}

.item-cards-blog-home{
    width: 319px;
    height: 255px;
}

.item-cards-blog-home h2{
    font-size: 27px;
    font-weight: 700;
    color: #009688;
}

.item-cards-blog-home h3{
    font-size: 18px;
    font-weight: 400;
}

.link-blog-home{
    font-size: 25px;
    font-weight: 400;
    color: #FF4081;
    border: #FF4081 2px solid;
    border-radius: 62px;
    text-align: center;
    padding: 8px 26px;
    margin:  100px auto 63px;
 
    width: 20%;
}