.artigo-post{
    max-width: 1440px;

}
.artigo-post h1{
  font-size: 50px;
  font-weight: 500;
  color: #FF4081;  
  text-align: center;
}

.artigo-post h3{
    font-size: 18px;
    font-weight: 300;
    color: #9d9d9d;
    text-align: center;

}

.artigo-post img{
    width: 1032px;
    height: 465px;
    margin: 74px 13vw;
}

.conteudo-artigo-post{
    max-width: 1000px;
    margin: 74px 13vw;
    
}

.conteudo-artigo-post h2{
    font-size: 18px;
    font-weight: 700;
    color: #419488;
}

.cursos-post{    
    Width: 100%;
    Height: 100%;
    margin-top: 170px;
       

} 

.cards-cursos-post{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
   
}

.item-cards-cursos-post{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 340px;
    height: 504px;
    margin: 100px 0 100px 0;
    
}

.item-cards-cursos-post .ilustra-poupando {
    width: 288px;
    height: 270px;
    margin: 0 auto;
}

.item-cards-cursos-post .ilustra-investimento{
    width: 238px;
    height: 270px;
    margin: 0 auto;
}

.item-cards-cursos-post .ilustra-independencia{
    width: 187px;
    height: 270px;
    margin: 0 auto;
}

.item-cards-cursos-post h2{
    font-size: 25px;
    font-weight: 700;
    color: #FF4081;

}

.item-cards-cursos-post h3{
    font-size: 17px;
    font-weight: 300;
    color: #000;

}

.item-cards-cursos-post a{
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    border: #FF4081 2px solid;
    background-color: #FF4081;
    border-radius: 62px;
    padding: 8px 26px;
    width: 50%;
    text-align: center;
}
